{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="childview/" method="POST">
            {% csrf_token %}
                <button type="submit">Genealogical Tree</button>
        </form>
        <form action="childdetail/" method="POST">
            {% csrf_token %}
                <button type="submit">Child detail view</button>
        </form>
        <form action="childlist/" method="POST">
            {% csrf_token %}
                <button type="submit">Children list</button>
        </form>

    </div>
    <br />
    {{ block.super }}
{% endblock %}